.todo-item-checkbox {
  height: 15px;
  width: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-item-checkbox.checked{
  background-color: wheat;
}

.todo-item-description {

}

#todo-list {

}

#todo-list-wrapper {

}
